<div class="welcome">


        <div class="hero">
          <div class="container">
           <div class="logo">
              <a href="/"><img src="/assets/logo.png"></a>
            </div>
            <div class="expert-login">
              <a href="/dashboard">Expert Login</a>
            </div> <!-- /.expert-login -->

            <h1 class="text-center tagline">Get Software Training From Local Experts</h1>
            <form method="post" action="/search">
              <div class="form-group search-bar center-block">
                <input type="search" name="search" class="form-control" id="search" placeholder="What do you need help with?">
              </div><!-- /.form-group -->
            </form>
          </div> <!-- /.container-->
        </div> <!-- /.hero -->






<!-- BOOTSTRAP CODE BELOW-->
<div class="container">
  <div class="row icons">
      <div class="col-xs-2 col-xs-offset-1 text-center">
               <img src="/assets/icons/photoshop.png" class="img-responsive">
               <h3 class="hidden-xs">Photoshop</h3>
      </div>
      <div class="col-xs-2 text-center">
               <img src="/assets/icons/quickbooks.png" class="img-responsive">
                <h3 class="hidden-xs">Quickbooks</h3>
      </div>
      <div class="col-xs-2 text-center">
               <img src="/assets/icons/excel.png" class="img-responsive">
               <h3 class="hidden-xs">Excel</h3>
      </div>
      <div class="col-xs-2 text-center">
               <img src="/assets/icons/analytics.png" class="img-responsive">
               <h3 class="hidden-xs">Analytics</h3>
      </div>
      <div class="col-xs-2 text-center">
               <img src="/assets/icons/xero.png" class="img-responsive">
               <h3 class="hidden-xs">Xero</h3>
      </div>
    
  </div><!--/.row-->


  <div class="col-sm-12 col-centered" id="lorum">
    <p>Banksy Pitchfork cold-pressed Austin, authentic viral skateboard umami taxidermy tousled cardigan Truffaut cronut Tumblr aesthetic. 8-bit kale chips drinking vinegar skateboard salvia slow-carb. Seitan cred Schlitz bicycle rights kale chips whatever.</p>
    <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
  </div><!--/.col -->
  <div class="spacer"></div>
  </div><!--/.container-->
</div><!-- /.welcome -->