<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    
      <a class="navbar-brand" href="/"><img src="/assets/logo5.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Expert Login</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Local Experts">
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">"Quickbooks experts in Vancouver"</a></li>
        <li><a href="#">Jackson C</a></li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/400x400" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1>Jackson C.</h1>

      <div class="thumbnail badge">
        <span>94%</span>
      </div>

      <div class="thumbnail badge">
      <span>$12/hr</span>
      </div>

      <div class="alert alert-success tags" role="alert">
      quickbooks
      </div>
      <div class="alert alert-success tags" role="alert">
      xero
      </div>
      <div class="alert alert-success tags" role="alert">
      excel
      </div>

    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-8">
      <p>Banksy Pitchfork cold-pressed Austin, authentic viral skateboard umami taxidermy tousled cardigan Truffaut cronut Tumblr aesthetic. 8-bit kale chips drinking vinegar skateboard salvia slow-carb. Seitan cred Schlitz bicycle rights kale chips whatever.</p>
      <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
    </div>
  </div>


    <div class="row col-sm-12">
    <h1>Reviews</h1>
      <div class="review">
        <h3>Spiro S. <img src="/assets/icons/happy.png"></h3>
         <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
      </div>
      <div class="review">
        <h3>Spiro S. <img src="/assets/icons/happy.png"></h3>
         <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
      </div>
      <div class="review">
        <h3>Spiro S. <img src="/assets/icons/happy.png"></h3>
         <p> meggings cray pour-over slow-carb beard Godard kitsch Vice. Intelligentsia salvia tattooed lomo drinking vinegar before they sold out squid Vice. Retro Williamsburg gluten-free, chambray keffiyeh organic messenger bag wolf lumbersexual sustainable you probably haven't heard of them squid. Mustache +1 chillwave, chia paleo pickled photo booth mlkshk heirloom gluten-free. Plaid health goth vegan, fingerstache tote bag actually aesthetic.</p>
      </div>
  </div>


</div>
<div class="spacer"></div>